<!-- app/views/user/show.html.erb -->

<div class="Users-card">
  <img class="User-img" src="<%= @user.photo %>" alt="User Image">
  <div class="user-inn">
    <h2><%= @user.name %></h2>
    <p>Number Of Posts: <%= @user.postsCounter %></p>
  </div>
</div>
<div class="user-bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>

<% @user.return_three_most_recent_posts.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <p class="cmt-likes"><strong>Comments:</strong> <%= post.comments.count %> &nbsp;&nbsp; <strong>Likes:</strong> <%= post.likes.count %></p>
    <%= link_to 'View Comments', user_post_path(user_id: @user, id: post) %>
  </div>
<% end %>

<% if user_signed_in? && current_user == @user %>
  <%= link_to 'Add Post', new_post_path %>
<% end %>

<%= link_to 'See All Posts', user_posts_path(user_id: @user) %>
