<!-- app/views/posts/show.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
</head>
<body>
  <div class="post-card">
    <p class="comt-likes"><strong>Comments:</strong> <%= @post.comments.count %> &nbsp;&nbsp; <strong>Likes:</strong> <%= @post.likes.count %></p>
    <h5><%= @post.title %> by <%= @user.name %></h5>
    <p><%= @post.text %></p>
  </div>

  <div class="post-cmts">
    <h2>comments:</h2>
    <% @post.return_five_most_recent_comments.each do |comment| %>
      <p><strong><%= comment.author.name %>:</strong> <%= comment.text %></p>
    <% end %>
  </div>

  <%= link_to 'Add Comment', new_post_comment_path(@post) %>
</body>
</html>
